.transactionHistoryTable {
  margin: 5vh auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
}

.columnHeader {
  width: 30%;
  padding: 15px 65px;
  background-color: #02bbd9;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

.columnHeader:first-child {
  border-radius: 6px 0 0 0;
}
.columnHeader:last-child {
  border-radius: 0 6px 0 0;
}
.valuesRow:last-child .transactionData:first-child {
  border-radius: 0 0 0 6px;
}
.valuesRow:last-child .transactionData:last-child {
  border-radius: 0 0 6px 0;
}

.valuesRow {
  width: 33%;
  color: #808288;
  font-size: 32px;
  text-align: center;
  text-transform: capitalize;
}

.valuesRow:nth-child(even) {
  background-color: #d2c9c9d7;
}